<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
    <dict>
        <key>com.fleetingnotes.webextension</key>
        <string>web_ext</string>
        <key>com.fleetingnotes.webextension.Extension</key>
        <string>web_ext_ext</string>
    </dict>
  <key>installerSigningCertificate</key>
  <string>Mac Installer Distribution</string>
	<key>signingCertificate</key>
  <string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>4MLDMH9QYL</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
