<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220377646074-b3l8tu5g7r4rti84lrlecurgqoq559gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220377646074-b3l8tu5g7r4rti84lrlecurgqoq559gb</string>
	<key>API_KEY</key>
	<string>AIzaSyBSwbl8AZFm6IjSDkC_5I6gO0fDCfCbOcc</string>
	<key>GCM_SENDER_ID</key>
	<string>220377646074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fleetingnotes</string>
	<key>PROJECT_ID</key>
	<string>fleetingnotes-22f77</string>
	<key>STORAGE_BUCKET</key>
	<string>fleetingnotes-22f77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220377646074:ios:ef5c21523441b74cebda43</string>
</dict>
</plist>