#mydiv {
    position: fixed !important;
    z-index: 2147483647;
    /* background-color: #f1f1f1; */
    /* border: 1px solid #d3d3d3; */
    /* text-align: center; */
}
  
#mydivheader {
    height: 26px;
    width: 100%;
    padding: 10px;
    z-index: 100;
    right: 0px;
    cursor: -webkit-grab;
    background-color: #2196F3;
}